/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.spacing-top-sm {
    margin-top: 1em;
}

.spacing-bottom-sm {
    margin-bottom: 1em;
}

.spacing-bottom-md {
    margin-bottom: 2em;
}
